[submodule "vendor/raster"]
	path = vendor/raster
	url = https://github.com/rsms/raster.git
[submodule "libs/play.core"]
	path = libs/play.core
	url = https://github.com/ertdfgcvb/play.core.git
[submodule "libs/raster"]
	path = libs/raster
	url = https://github.com/rsms/raster.git
